
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.badge {
    color: white;
}

.badge-blue { 
    background-color: $blue;
}

.badge-indigo {
    background-color: $indigo;
}

.badge-purple {
    background-color: $purple;
}

.badge-pink {
    background-color: $pink;
}

.badge-red {
    background-color: $red;
}

.badge-orange {
    background-color: $orange;
}

.badge-yellow {
    background-color: $yellow;
}

.badge-green {
    background-color: $green;
}

.badge-teal {
    background-color: $teal;
}

.badge-cyan {
    background-color: $cyan;
}
