
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.filter-section {
    overflow: hidden;
}

.badge {
    color: white;
}

$colors: (
    "blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan
);

@each $name, $color in $colors {
    .badge-#{$name} {
        background-color: $color;
    }
}