
<h1>Logs</h1>

<!--<pre>{{ logs | json }}</pre>-->

<div class="fs-2 text-end">
  <i class="bi bi-funnel" title="Filter options" role="button" [hidden]="filterOpen" (click)="filterOpen = !filterOpen"
     data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Filter options"></i>
  <i class="bi bi-funnel-fill" title="Close" role="button" [hidden]="!filterOpen" (click)="filterOpen = !filterOpen"
     data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Filter options"></i>
</div>

<div [hidden]="!filterOpen" class="mb-3">
  <div class="card">
    <div class="card-header">
      Filter options
    </div>
    <div class="card-body row">
      <div class="col">
        <h5 class="card-title">
          Log Levels
          <i class="bi bi-check-square-fill mx-2" role="button" title="Select All" (click)="toggleLogLevels(true)"></i>
          <i class="bi bi-dash-square-fill" role="button" title="Select None" (click)="toggleLogLevels(false)"></i>
        </h5>

        <div *ngFor="let level of logLevels">
          <label>
            <input type="checkbox" checked [(ngModel)]="enabledLogLevels[level]" />
            {{ level | titlecase }}
          </label>
        </div>
      </div>
      <div class="col">
        <h5 class="card-title">
          Applications
          <i class="bi bi-check-square-fill mx-2" role="button" title="Select All" (click)="toggleApps(true)"></i>
          <i class="bi bi-dash-square-fill" role="button" title="Select None" (click)="toggleApps(false)"></i>
        </h5>

        <div *ngFor="let app of apps">
          <label>
            <input type="checkbox" checked [(ngModel)]="enabledApps[app]"/>
            {{ app }}
          </label>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">
  <div class="row alert alert-{{ getWrapperClass(log) }}" *ngFor="let log of filterLogs()">
    <div class="col">
      <h3>
        {{ log.app }}
        <span class="align-top badge rounded-pill text-bg-{{ getWrapperClass(log) }}">{{ log.severity | uppercase }}</span>
      </h3>
    </div>

    <div class="col text-end font-weight-bold">{{ log.timestamp | date:'medium' }}</div>

    <hr />

    <p class="col-12 text-bg-light rounded">{{ log.message }}</p>
  </div>

  <div *ngIf="filterLogs().length == 0">
    No logs available
  </div>
</div>
